@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

body {
    margin: auto;
    background: hsl(257, 40%, 49%);
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-family: 'Poppins', sans-serif;
}
.header__logo { 
    width: 10rem;
    margin: 2rem 2rem;
}
.main__container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.main__text {
    padding: 5%;
}
.button {
    margin: 2% auto;
    padding: 10px 60px;
    border: none;
    border-radius: 2rem;
    color: hsl(257, 40%, 49%);
    background: white;
    box-shadow: 5px 5px 20px hsl(256, 41%, 21%);
}
.button:hover {
    background: hsl(300, 69%, 71%);
    color: white;
}
footer {
    text-align: center;
    font-size: smaller;
}
.footer__figure {
    margin-bottom: 2rem;
    height: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.footer__figure img {
    height: 100%;
    width: 1rem;
    padding: 0.3rem;
    object-fit: scale-down;
    border: 1px solid white;
    border-radius: 2rem;
}
.footer__figure img:hover {
    border-color: hsl(300, 69%, 71%);
    cursor: pointer;
}
a {
    text-decoration: none;
    color: hsl(300, 69%, 71%);
}

@media (min-width:800px) {
    body {
        background-image: url('../images/bg-desktop.svg');
    }
    .main__container {
        margin-left: 3.5rem;
        flex-direction: row;
        text-align: left;
    }
    .footer__figure {
        justify-content: right;
    }
}